<!DOCTYPE html>
<html>
  <head>
    <title>DemoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class = "container">
    <div class="jumbotron">
      <h1 class="display-4">Twitter Clone</h1>
      <p class="lead">This is a basic micro blogging application like Twitter developed using Ruby On Rails.</p>
      <hr class="my-4">
      <p>Made with love in India. 2020.</p>
    </div>

    <%= yield %>
    
  </div>
  </body>
</html>
